<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Instabotai - Automate Instagram With AI</title>


 <meta charset="utf-8" />

   <meta name="title" content="InstabotAI - Repost, Like and Comment with Face Detection">
     <meta name="description" content="AI Scripts With Face detection for Instagram automation. Written with love in Python. Open source. Mass following, mass liking, commenting... ">
       <meta name="keywords" content="instabot, insta bot, instagrambot, instagram bot, free instagram, instagram tools, instagram promotion, instagram scripts, instagram python, massfollowing, massliking, followscript, like script, python instagram, insta python">
<meta name="robots" content="index, follow">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
  
  <meta property="og:image" content="{{ url_for('static', filename='img/thumb.png' ) }}">
    <meta property="og:title" content="Want to promote your instagram?">
      <meta property="og:description" content="Cool Instagram scripts for promotion and API wrapper. Forever Free.">
        <meta property="og:keywords" content="instagram, bot">
          <meta property="og:site_name" content="Instabot">
            <meta property="og:type" content="website">
              <meta property="og:url" content="https://instabotai.com">

                <meta name="twitter:card" content="summary">
                  <meta name="twitter:domain" content="https://instabotai.com">
                    <meta name="twitter:site" content="@instabot">
                      <meta name="twitter:creator" content="@instabot">
                        <meta name="twitter:title" content="Want to promote your instagram with AI?">
<meta name="twitter:description" content="Instagram AI bot with face detection. It works without instagram api, need only login and password.">
<meta name="twitter:url" content="https://instabotai.com">




  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css' ) }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css' ) }}" rel="stylesheet">
<style>

h1 {
    font-family: Poppins, sans-serif;
margin-top: 0px;
margin-bottom: 10px;
font-size: 32px;
font-weight: 800;
}

h2 {
    font-family: Poppins, sans-serif;
margin-top: 0px;
margin-bottom: 10px;
font-size: 22px;
font-weight: 800;
}

h3 {
    font-family: Poppins, sans-serif;
margin-top: 0px;
margin-bottom: 10px;
font-size: 14px;
font-weight: 300;

}

.form-control {
    display: block;
    width: 100%;
    height: 55px;
    padding: 6px 12px;
        padding-right: 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
</style>
</head>



<center>

    <!-- Content Wrapper -->
<!--    <div id="content-wrapper" class="d-flex flex-column">
</div> -->      
      <!-- Main Content -->
      <div id="content" style="
box-sizing: border-box;
  width: 360px;
  margin: 7% auto;
 margin-left: 45%;
 margin-right: 45%;
margin-top: 143.55px;
  " >

        <!-- Topbar -->
<!--        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
<!--          </div>
<!--      <center>
<!--       <!-- Begin Page Content -->
<!--        <div class="container-fluid">
<!--
<!--          <!-- Page Heading -->
<!--          <div class="d-sm-flex align-items-center justify-content-between mb-4">
<!--            <h1 class="h3 mb-0 text-gray-800">Login</h1>
    <!--          </div>      -->   
          <!-- Content Row -->
                 <div class="row" >
     
          <!-- Content Row -->
       <div style="
       margin-left: -17%;
        ">
           <h1> Instagram Bot With AI</h1><hr>
        Challange Required
        <p>
       </div>
       <p><hr>
           <!-- Start Bot Button --><div><h2>Insert Code Here:</h2>
<p>
{{logoutput}}
</p>
<b><h3>Code</h3></b>
<form method="POST" action="/challenge_solved">
<div class="form-group">
<input type="text" class="form-control" value="" placeholder="code" name="code">
<hr>
<i class="btn btn-primary btn-lg btn-block">
<span class="icon text-white-50">
                      <i class="fas fa-sign-in-alt"></i>
        <span class="text"><input style="background-color: Transparent; border: 0px; font-weight: 700; color: white; font-size: 25px;" type="submit" value="Log In">
        </span></i>

              </form>  </div></div>
          </div>
          <br>
       <!-- Telegram -->
       <p>
       <hr>
       <div style="padding-right:45%">
       Chat with us:<p>
<a href="https://web.telegram.org/#/im?p=@instabotai"><img src="https://image.flaticon.com/icons/png/128/906/906377.png" width="64" height="64" alt="Telegram"></a>
       </div>
          </center>
       <!-- /.container-fluid -->

      
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto"
            style="
            margin-left: 0%;
            "
              >
              <span>Copyright &copy; <a href ="http://www.instabotai.com">instabotai.com</a> 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
    </div></div>
  </div>
</center>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->

  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>



</body>

</html>
