<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Instabotai - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css' ) }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css' ) }}" rel="stylesheet">

</head>



<center>

    <!-- Content Wrapper -->
<!--    <div id="content-wrapper" class="d-flex flex-column">
</div> -->      
      <!-- Main Content -->
      <div id="content" style="
  width: 20%;
  margin: 0 auto;
  margin-top: 300px;
  " >

        <!-- Topbar -->
<!--        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
<!--          </div>
<!--      <center>
<!--       <!-- Begin Page Content -->
<!--        <div class="container-fluid">
<!--
<!--          <!-- Page Heading -->
<!--          <div class="d-sm-flex align-items-center justify-content-between mb-4">
<!--            <h1 class="h3 mb-0 text-gray-800">Login</h1>
    <!--          </div>      -->   
          <!-- Content Row -->
                 <div class="row" >
     
          <!-- Content Row -->
       <div style="
       margin-left: -17%;
        ">
        Just Login with your Instagram username and password
       </div>
       <p><hr>
           <!-- Start Bot Button --><div><h2>Sign In</h2>
<p></p>
<b>Username:</b>
<form method="POST" action="/start_logged_in">
<div class="form-group">
<input type="text" value="" name="username">
<hr>
<b>Password</b><p>
<input type="text" value="" name="password">
<hr>
<i class="btn btn-primary btn-icon-split btn-lg">
<span class="icon text-white-50">
                      <i class="fas fa-sign-in-alt"></i>
        <span class="text"><input style="background-color: Transparent; border: 0px; font-weight: 700; color: white; font-size: 25px;" type="submit" value="Log In">
     </span></i>
              </form>  </div></div>
          </div>
          <br>
          </center>
       <!-- /.container-fluid -->

      
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto"
            style="
            margin-left:-13%;
            "
              >
              <span>Copyright &copy; <a href ="http://www.instabotai.com">instabotai.com</a> 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
    </div></div>
  </div>
</center>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->

  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>



</body>

</html>
